.modal-root {
  position: relative;
  z-index: 10;
}

.modal-root:focus {
  outline: none;
}

.modal-background {
  /*background-color: rgba(0, 0, 0, 0.05); */
  /*backdrop-filter: blur(40px); */
  position: fixed;
  width: 100%;
  overflow-y: 'auto';
  top: 0;
}

.modal-center {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}


.modal-block {
  width: 100%;
  max-width: 28rem;
  max-height: 90dvh;
  border-radius: 0.75rem; 
  background-color: rgba(255, 255, 255, 0.05); 
  box-shadow: 0 0 0.3em -0.2em rgba(0,0,0,0.5);
  padding: var(--size-m);
  backdrop-filter: blur(40px); 
  transition: all 300ms ease-out;
  overflow-y: auto;
}

.modal-block[data-closed] {
  transform: scale(0.95); 
  opacity: 0; 
}


.modal-block > *:nth-child(n + 1) {
  margin-top: 1rem;
}

.modal-block > *:nth-child(1) {
  margin-top: 0;
}

.modal-options {
  display: flex;
  justify-content: space-around;
}